.about{

    

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 90px;
        z-index: -1;
        background-color: $white;
        padding: 150px 0 0 0;

        &__contour{
            font-family: "Nunito", sans-serif;
            font-weight: 800;
            font-size: 258px;
            color: transparent;
            -webkit-text-stroke: 2px $black;
            opacity: 0.7;
            line-height: 1;

        }
    }

    &__pose{
        display: flex;
        justify-content: center;
        background-color: $white;
        gap:54px;
        padding:100px 0;

        &__txt{
            width: 540px;
            

            &__p{
                padding-bottom: 40px;
            }

            
            &__btn {
                text-align: center;
            }

            &__btn p {
                font-style: italic;
                font-size:14px;
                color: $quinary;
                line-height: 0px;
            }
        }

        &__txt h2{
            padding-bottom:30px;
            color: $tertiaryColor; 
        }

        &__txt a{
            padding:10px 25px;
            color: white;
            background: $tertiaryColor;
            border: none;
            border-radius: 25px;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        &__txt a:hover{
            padding: 20px 35px;
            border-radius:50px;
            box-shadow: 0 12px 24px $primaryColor;
            background: $primaryColor;
        }


        &__txt img {
            width: 550px;
            height: 430px;
            border-radius: 12px;
            margin-bottom: 20px;
            transition: opacity 0.3s ease;
        }
    }
}

.jour {
    background-color: $primaryColor; /* Bleu jour */
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

.nuit {
    background-color: $secondaryColor; /* Violet nuit */
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}