.video-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    video {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }
}


.scroll-arrow {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      color: $primaryColor;
      animation: bounce 1.5s infinite;
      text-decoration: none;
}

.rotate{
    transform: rotate(180deg);
}


@keyframes bounce {
    0%, 100% {
    transform: translate(-50%, 0);
    }
    50% {
    transform: translate(-50%, 10px);
    }
}




// Tablette (max-width: 1024px)
@media screen and (max-width: 1024px) {
  .video-container {
    height: 100vh;

    video {
      height: 100%;
      object-fit: cover; // recouvre toute la zone avec crop
    }
  }

  .scroll-arrow {
  font-size: 1.6rem;
  bottom: 15px;
  }

  .rotate{
    width: 70%;
  }
}






// Mobile (max-width: 430px)
@media screen and (max-width: 430px) {
  .video-container {
    height: auto;

    video {
      width: 100%;
      height: auto;
      object-fit: contain; // évite le crop
    }
  }


  .scroll-arrow {
    font-size: 1.2rem;
    bottom: 10px;
  }

  .rotate{
    width: 50%;
  }
}
